#grad1 {
  background-color: rgb(
    108,
    187,
    68
  ); /* For browsers that do not support gradients */
  background: linear-gradient(to right, white, rgb(108, 187, 68));
}
.login-box-container {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
  justify-content: center;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container.loginwidth {
  width: 22%;
  border: solid 3px;
  padding: 22px;
  text-align: center;
  border-radius: 10px;
  background-color: green;
}
@media screen and (max-width: 768px) {
  /* For mobile phones: */
  .navleft {
    width: 32px;
  }
  .header {
    height: 6vh;
  }
  .box-container {
    height: 94vh;
  }
  .container.loginwidth {
    width: 100%;
  }
  .login-box-container {
    height: 94vh;
  }
}
